body,
figure.interactive {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.ls-container {
    position: relative;
    padding: 0 10px;
    @include mq(mobileLandscape) {
        padding: 0 20px;
    }
}

.ls-sticky {
    position: absolute;
    left: 0;
    right: 0;

    &.is-sticky {
        position: fixed;
        top: 0;
    }

    &.is-bottom {
        bottom: 0;
    }
}

.ls-sticky__inner {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
    @include mq(mobileLandscape) {
        padding: 0 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.ls-title {
    @include fs-header(5);
    margin: 0;

    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.ls-map {
    width: 100%;
    display: none;

    &.is-selected,
    &.ls-map--base {
        display: block;
    }

    &.is-selected {
        margin-top: -60.8%;
    }
}

.ls-rules {
    list-style: none;
    counter-reset: rules;
    margin: 0 0 16px !important; // Override NGW
    padding: get-line-height(header, 5) 0 0 !important;
}

.ls-rule {
    display: block;
    position: relative;
    padding-bottom: 60.8%;

    &::before {
        display: none !important; // Override NGW
    }
}

.ls-rule-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding-top: 10%;

    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.ls-rule__name {
    @include fs-header(2);
    color: #b82266;
    margin: 0 0 12px 0;
}

.ls-rule__copy {
    @include fs-textSans(3);

    position: relative;
    margin: 0;
    padding-left: 35px;
    max-width: 420px;

    counter-increment: rules;

    &::before {
        @include fs-headline(9);
        color: #b82266;
        content: counter(rules);
        position: absolute;
        left: 0;
    }
}
