$top: 12px;
$ratio: 819 / 1300 * 100%;

body,
figure.ls-interactive {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;
}

figure.ls-interactive {
    margin-top: -$top;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.ls-sticky {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: $top;

    @include mq(tablet) {
        &.is-sticky {
            position: fixed;
            top: 0;
        }

        &.is-bottom {
            bottom: 0;
        }
    }
}

.ls-sticky__inner {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
    @include mq(mobileLandscape) {
        padding: 0 20px;
    }

    .ls-app & {
        padding: 0;
    }

    @include mq(tablet) {
        .ls-app .is-sticky & {
            padding: 0 20px;
        }
    }

    @each $bp in (phablet, tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.prose h2.ls-title, // Override apps
.ls-title {
    @include fs-header(2);
    margin: 0;
    white-space: nowrap;

    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }

    @include mq(tablet) {
        @include fs-header(5, $size-only: true);
    }
}

.ls-map {
    position: relative;

    img {
        display: block;
        width: 100%;
        mix-blend-mode: multiply;
    }

    &.ls-map--rule {
        margin-top: -$ratio;

        opacity: 0;
        //transition: opacity 0.3s linear;
        &.is-selected {
            opacity: 1;
        }
    }
}

.ls-map-labels {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: $ratio;
    margin-top: -$ratio;
    list-style: none;
    margin: 0;
    padding: 0;

    &::before {
        display: none !important; // Override NGW
    }
}

.ls-map-labels__label {
    position: absolute;
    text-align: center;
    font-weight: 500;
    line-height: 18px;
    color: #767676;

    .ls-map--6 &::before {
        display: inline-block !important;
        border-radius: 100px !important;
        background-color: #333 !important;
        content: '' ;
        width: 3px !important;
        height: 3px !important;
    }

    font-size: 0;
    @include mq(tablet) {
        font-size: 14px;
        .ls-map--6 &::before,
        &::before {
            display: none !important // Override NGW;
        }
    }

    &.ls-map-labels__label--sp {
        display: block;
        color: #333;
        font-size: 16px;
        font-weight: bold;

        &::before {
            display: none !important;
        }
    }
    &.ls-map-labels__label--cl {
        color: #bdbdbd;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 8px;
        opacity: 0.6;
    }
}

.ls-container {
    position: relative;
    padding: 0 10px;
    @include mq(mobileLandscape) {
        padding: 0 20px;
    }
    .ls-app & {
        padding: 0;
    }
}

.ls-rules {
    list-style: none;
    counter-reset: rules;
    margin: 0 0 16px !important; // Override NGW
    padding: (get-line-height(header, 2) + $top) 0 0 !important;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    @include mq(tablet) {
        white-space: normal;
        overflow-x: visible;
        overflow-y: visible;
        padding-top: (get-line-height(header, 5) + $top) !important;
    }
}

.ls-rule {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    @include mq(tablet) {
        display: block;
    }

    &::before {
        display: none !important; // Override NGW
    }
}

.ls-rule-size {
    position: relative;
    padding-top: $ratio;
}

.ls-rule-container {
    white-space: normal;
    padding: 10px 0 40px;

    @include mq(tablet) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        padding: 20% 0 0;
    }
    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.ls-rule__no {
    @include fs-textSans(2);
    margin: 0;
    color: #767676;
}

.ls-rule__copy {
    @include fs-bodyCopy(1);

    @include mq(tablet) {
        @include fs-bodyCopy(2, $size-only: true);
    }

    color: #767676;

    position: relative;
    margin: 0;
    padding: 0 10px 0 0;
    max-width: 420px;

    counter-increment: rules;

    b {
        color: #333;
    }
}

.ls-rules-next__btn {
    @include fs-textSans(2);
    color: #005689;
    margin: 5px 0 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    cursor: auto;

    svg {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        color: white;
        background: #005689;
        border-radius: 100px;
    }
}
