$top: 12px;

body,
figure.ls-interactive {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;
}

figure.ls-interactive {
    margin-top: -$top;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.ls-sticky {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: $top;

    @include mq(tablet) {
        &.is-sticky {
            position: fixed;
            top: 0;
        }

        &.is-bottom {
            bottom: 0;
        }
    }
}

.ls-sticky__inner {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
    @include mq(mobileLandscape) {
        padding: 0 20px;
    }

    .ls-app & {
        padding: 0;
    }

    @include mq(tablet) {
        .ls-app .is-sticky & {
            padding: 0 20px;
        }
    }

    @each $bp in (phablet, tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.prose h2.ls-title, // Override apps
.ls-title {
    @include fs-header(2);
    margin: 0;
    white-space: nowrap;

    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }

    @include mq(tablet) {
        @include fs-header(5, $size-only: true);
    }
}

.ls-map {
    width: 100%;
    display: none;

    &.is-selected,
    &.ls-map--base {
        display: block;
    }

    &.is-selected {
        margin-top: -60.8%;
    }
}

.ls-container {
    position: relative;
    padding: 0 10px;
    @include mq(mobileLandscape) {
        padding: 0 20px;
    }

    .ls-app & {
        padding: 0;
    }
}

.ls-rules {
    list-style: none;
    counter-reset: rules;
    margin: 0 0 16px !important; // Override NGW
    padding: (get-line-height(header, 2) + $top) 0 0 !important;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    @include mq(tablet) {
        white-space: normal;
        overflow-x: visible;
        overflow-y: visible;
        padding-top: (get-line-height(header, 5) + $top) !important;
    }
}

.ls-rule {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    @include mq(tablet) {
        display: block;
    }

    &::before {
        display: none !important; // Override NGW
    }
}

.ls-rule-size {
    position: relative;
    padding-top: 60.8%;
}

.ls-rule-container {
    white-space: normal;
    padding-top: 10px;

    @include mq(tablet) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        padding-top: 10%;
    }
    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.ls-rule__name {
    @include f-header;
    font-size: 16px;
    line-height: 20px;
    color: #b82266;
    margin: 0 0 12px 0;

    @include mq(tablet) {
        @include fs-header(2, $size-only: true);
    }
}

.ls-rule__copy {
    @include fs-textSans(3);

    position: relative;
    margin: 0;
    padding: 0 10px 0 35px;
    max-width: 420px;

    counter-increment: rules;

    &::before {
        @include fs-headline(9);
        color: #b82266;
        content: counter(rules);
        position: absolute;
        left: 0;
    }
}
